body{
    display: flex;
    justify-content: center;
}

/* div */
div.wrapper{
    width: 1000px;
    display: block;
}
div.flex-row{
    display: flex;
    width: 100%;
}
div.flex-box{
    flex: 1;
}
div.header p{
    text-align: right;
}
/* li */
li.error{
    color: #ff0000;
}
li.success{
    color: #007f00;
}