body{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* div */
div.wrapper{
    width: 1000px;
    display: block;
}
div.flex-row{
    display: flex;
    width: 100%;
}
div.flex-box{
    flex: 1;
}
div.arrow-box{
    padding: 20px;
}
div.header{
    justify-content: space-between;
}
div.jp-item-1{
    margin: 0px;
    padding: 1px 10px;
    background-color: #cccccc;
    min-height: 110px;
}
div.jp-item-2{
    margin: 0px;
    padding: 1px 10px;
    background-color: #eeeeee;
    min-height: 110px;
}
#jackpot_list{
    border: 1px solid black;
}
#game_stats{
    flex: 2;
}
/* li */
li.error{
    color: #ff0000;
}
li.success{
    color: #007f00;
}
/* img */
img.arrow{
    width: 100%;
}
#paytable{
    width: 100%;
}
/* table */
#game_stats_table{
    border-collapse: collapse;
    width: 100%
}
#game_stats_table td{
    vertical-align: top;
    border: 1px solid black;
    padding: 5px;
}
#game_stats_table td.category{
    text-align: right;
}
#game_stats_table td.category{
    text-align: right;
}
#game_stats_table tr.tr1{
    background-color: #cccccc;
}
#game_stats_table tr.tr2{
    background-color: #eeeeee;
}
#game_stats_table ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
#game_stats_table ul li{
    padding: 0px;
}