<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load site_app_extras %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reel_style.css' %}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/game.js' %}"></script>
    <title>Game</title>
</head>
<body>
    <div class="wrapper">
        <div class="header flex-row" id="game_header">
            <h2>Welcome, {{ current_user.first_name }}!</h2>
            <p><a href="/user/">Profile</a> | <a href="/jackpots/">Jackpots</a> | <a href="/logout/">Log Out</a></p>
        </div>
        <div class="flex-row">
            <div class="flex-box" id="toggle_button">
                <button id="show_rules">Show/Hide Pays and Game Rules</button>
            </div>
        </div>
        <div class="flex-row" id="game_glass">
            <img alt="Paytable" src="{% static 'img/paytable.png' %}" id="paytable">
        </div>
        <div class="flex-row" id="game_window">
            <img alt="lines" src="{% static 'img/lines/'|addstr:game_result.lines_played|addstr:'.png' %}" class="reel_lines">
            <div class="reel-window flex-box">
                {% for reel in game_result.window %}
                <div class="reel">
                    {% for pos_sym in reel %}
                    <img alt="{{ pos_sym }}" src="{% static 'img/slot_symbols/'|addstr:pos_sym|addstr:'.png' %}" class="reel_symbol">
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="flex-row reel-dashboard" id="game_dashboard">
            <table id="dashboard">
                <form action="/game/spin/" method="POST">
                    {% csrf_token %}
                    <tr>
                        <td>{{ current_user.credit_balance }}</td>
                        <td>
                            <a href="#" class="line-button" id="line_decrement">-</a>
                            <input type="number" min="1" max="5" value="{{ game_result.lines_played }}" name="bet" id="bet" readonly>
                            <a href="#" class="line-button" id="line_increment">+</a>
                        </td>
                        <td>{{ game_result.credits_won }}</td>
                        <td rowspan="2" id="dashboard-button"><button type="submit" id="play_button">Play</button></td>
                    </tr>
                    <tr>
                        <td>Credit</td>
                        <td>Lines</td>
                        <td>Win</td>
                    </tr>
                </form>
            </table>
        </div>
        <div class="flex-row" id="game_messages">
        {% if messages %}
            <ul id="messages">
                {% for msg in messages %}
                <li{% if msg.tags %} class="{{msg.tags}}"{% endif %}>{{ msg }}</li>
                {% endfor %}
            </ul>
        {% else %}
            {% if game_result.win_lines %}
            <ul id="wins">
                {% for line, amt in game_result.win_lines.items %}
                <li>{{ line }} pays {{ amt }}.</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endif %}
        </div>
    </div>
</body>
</html>